.size-select {
  input {
    border: none !important;
    padding: 0 8px !important;
    height: 40px !important;
    min-height: 40px !important;
    box-shadow: none !important;
    border-radius: 12px !important;
    min-width: 60px !important;
    width: 60px !important;
  }
}